# Changes to these paths require review from one of the listed owners.

/.github/          @kaniini @azenla @bleggett @tycho
/hack/             @kaniini @azenla @bleggett @tycho @alexandermerritt
/patches/          @kaniini @azenla @bleggett @tycho @alexandermerritt
/patches-nvidia/   @kaniini @azenla @bleggett @tycho @alexandermerritt 
/configs/          @kaniini @azenla @bleggett @tycho @alexandermerritt
/Dockerfile        @kaniini @azenla @bleggett @tycho @alexandermerritt
/config.yaml       @kaniini @azenla @bleggett @tycho @alexandermerritt
