imageNameFormat: "ghcr.io/edera-dev/[image]:[tag]"
architectures:
- x86_64
flavors:
- name: zone
  constraints:
    lower: '6.1'
- name: zone-amdgpu
  constraints:
    lower: '6.1'
- name: zone-nvidiagpu
  # we will generate distinct images for each of these
  # local tags. For `zone-nvidiagpu` specifically,
  # we will build that distinct image with the nvidia driver
  # version defined here.
  local_tags:
  - 'nvidia-590.48.01'  # Nvidia: "Latest New Feature Branch Version"
  - 'nvidia-590.44.01' # Nvidia: "Latest Beta Version"
  - 'nvidia-580.126.09' # Nvidia: "Latest Production Branch Version"
  constraints:
    lower: '6.15'
- name: zone-openpax
  constraints:
    series:
    - '6.10'
    - '6.11'
- name: host
versions:
- current: true
- lower: '5.15'
patches:
- patch: hvc-xen-idm-support-1.patch
  series:
  - '5.10'
  upper: 5.10.210
- patch: hvc-xen-idm-support-2.patch
  series:
  - '5.10'
  lower: '5.10.211'
- patch: 0001-Revert-ALSA-memalloc-Workaround-for-Xen-PV.patch
  series:
  - '6.6'
  - '6.7'
  - '6.8'
  - '6.9'
  - '6.10'
  - '6.11'
- patch: openpax-6.10-20240913112548.patch
  series: '6.10'
  flavors:
  - zone-openpax
- patch: openpax-6.11.2-20241009165538.patch
  series: '6.11'
  flavors:
  - zone-openpax
- patch: 0001-x86-topology-Tolerate-lack-of-APIC-when-booting-as-X_01.patch
  lower: '6.10'
  upper: '6.12.4'
- patch: 0001-x86-topology-Tolerate-lack-of-APIC-when-booting-as-X_02.patch
  lower: '6.12.5'
  upper: '6.13.999'
- patch: 0001-x86-topology-Tolerate-lack-of-APIC-when-booting-as-X_03.patch
  lower: '6.14'
- patches:
  - 9pfs-xen-hotplug-1.patch
  - 9pfs-xen-hotplug-2.patch
  any:
  - series: '6.6'
    upper: '6.6.63'
  - series: '6.12'
    upper: '6.12.1'
- patch: hack-around-pci-msix-restore-bugs-in-pv-domu.patch
  lower: '6.1'
  flavors:
  - zone-amdgpu
- patch: 0001-x86-CPU-AMD-avoid-printing-reset-reasons-on-Xen-domU.patch
  lower: '6.16'
- patch: 0001-9p-xen-mark-9p-transport-device-as-closing-when-remo.patch
  lower: '6.1'
- patch: 0002-x86-amd_node-fix-integer-divide-by-zero-during-init.patch
  lower: '6.17'
- patch: 0003-x86-amd_node-fix-null-pointer-dereference-if-amd_smn.patch
  lower: '6.17'
images:
- target: kernelsrc
  name: kernel-src
  publish: false
  passBuildArgs: false
- target: buildenv
  name: kernel-buildenv
  publish: false
  passBuildArgs: false
  version: local
  tags:
  - local
- target: kernel
  name: "[flavor]-kernel"
  format: kernel
- target: sdk
  name: "[flavor]-kernel-sdk"
  format: kernel.sdk
runners:
- name: edera-large
  flavors:
  - host
  - zone-amdgpu
  - zone-nvidiagpu
- name: ubuntu-latest
